body {
	font: 'Lato', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background: linear-gradient(to right, red, yellow);
}

h1 { 
	font: 600 3.5em 'Lato', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	width: 100%;
}

h3 {
	font: 900 1em 'Lato', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

h2 {
	font: 900 2em 'Lato', sans-serif;
}

button {
	background-color: transparent;
	display: inline-block;
	padding: 0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Lato',sans-serif;
	font-weight:400;
	color: rgba(0,0,0,.5);
	text-align:center;
	transition: all 0.2s;
}

button:hover{
	color:#000000;
	background-color:#FFFFFF;
}

@media all and (max-width:30em){
 button{
	display:block;
	margin:0.4em auto;
 }
}